@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #001220;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
}

.board-tile {
    width: 100%;
    height: 100%;
    background-color: #0066ff;
    border: 4px solid #000b13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.played-tile {
    color: white;
    font-size: 10em;
    text-align: center;
    margin: 0;
}
